/* font-family: 'Amatic SC', cursive;
font-family: 'Alfa Slab One', cursive; */
body {
    font-size: 10em;
    margin: 0;
    padding: 0;
}

#canvas {
    margin: 20px 0 10px 1vw;
    background-color: black;
    display: flex !important;
    justify-content: center !important;
    width: 98%;
    height: 42vw;
}

.btns {
    font-size: 1.6vw !important;
    padding-right: 0 !important;
}

.btn {
    font-size: 1.5vw !important;
    width: 15vw;
}

#btn-start {
    margin: 0 !important;
}

#btn-restart  {
    margin: 0 25vw 0 0 !important;
}

#btn-easy {
    margin: 0 !important;
    background-color: rgb(42, 97, 66) !important;
    border: rgb(42, 97, 66) !important;
}

#btn-medium{
    margin: 0 !important;
    background-color: rgb(155, 147, 41) !important;
    border: rgb(155, 147, 41) !important;
}

#btn-hard {
    margin: 0 1vw 0 0 !important;
    background-color: rgb(116, 36, 36) !important;
    border: rgb(116, 36, 36) !important;
}
