body {
    font-size: 10em;
    margin: 0;
    padding: 0;
    background-color: black !important;
}

#canvas {
    margin: 20px 0 10px 1vw;
    background-color: black;
    display: flex !important;
    justify-content: center !important;
    width: 98%;
    height: 42vw;
}

.btns {
    font-size: 1.6vw !important;
    padding-right: 0 !important;
}

.btn {
    font-size: 1.5vw !important;
    width: 15vw;
}

#btn-start {
    margin: 0 !important;
    box-shadow: none !important;
    
}

#btn-restart  {
    margin: 0 25vw 0 0 !important;
    box-shadow: none !important;
}

#btn-easy {
    margin: 0 !important;
    background-color: rgb(42, 97, 66);
    border: rgb(42, 97, 66);
    color: white;
    outline: none;
    box-shadow: none !important;
}

#btn-medium{
    margin: 0 !important;
    background-color: rgb(155, 147, 41);
    border: rgb(155, 147, 41);
    color: white;
    box-shadow: none !important;
}

#btn-hard {
    margin: 0 1vw 0 0 !important;
    background-color: rgb(116, 36, 36);
    border: rgb(116, 36, 36);
    color: white;
    box-shadow: none !important;
}

.button-active {
    opacity: 0.3;
}