/* font-family: 'Amatic SC', cursive;
font-family: 'Alfa Slab One', cursive; */
body {
    font-size: 10em;
    margin: 0;
    padding: 0;
}

#canvas {
    display: flex;
    margin: 20px auto;
    background-color: black;
    width: 80%;
    height: 90%;
}

.btn{
    font-size: 1.5vw !important;
    width: 15%;
    height: 3em;
}